/* font-family: 'Inter', sans-serif; */
html. body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* section nav */
nav {
    top: 0;
    left: 0;
    position: fixed;
    background-color: lightcoral;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-merk {
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    margin-left: 75px;
    height: 100px;
}

.nav-merk img {
    width: 80px;
    height: 80px;
}

.nav-merk h2 {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#taggle-menu:checked ~ .nav-menu ul{
    display: initial;
}
.taggle, #taggle-menu{
    display: none;
}

.nav-menu {
    /* background-color: lightcyan; */
    width: 700px;
    height: 100px;
    margin-right: 50px;
    display: flex;
    margin-right: 100px;
}

.nav-menu ul {
    width: 700px;
    /* background-color: lightcoral; */
    list-style-type: none;
    display: flex;
    padding-left: 0;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    transition: color 0.5s;
}

.nav-menu ul li a:hover {
    color: red
}



/* section hero */
#hero {
    background-color: lightcoral;
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    margin-left: -10px;
    display: flex;
}

.container1 {
    flex: 1;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 {
    /* background-color: lightgreen; */
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 20px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}

button {
    border-width: 0px;
    background-color: red;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    flex-shrink: 0;
}

button a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 img {
    width: 500px;
    height: 500px;
}



/* section features */
#features {
    margin-left: -10px;
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
}

.container3 {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    /* background-color: lightcoral; */
    height: 150px;
}

.content2 h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 20px;
}

.content2 p {
    text-align: center;
    margin-top: 10px;
}

.wrapper-card {
    display: flex;
    justify-content: space-evenly;
}

.card {
    /* background-color: lightgreen; */
    width: 270px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.card .icon {
    width: 80px;
    height: 80px;
    background-color: lightcoral;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card img {
    width: 50px;
    height: 50px;
}

.card h3 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}



/* section about */
#about {
    margin-left: -10px;
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    /* background-color: lightblue; */
    display: flex;
}

.container4 {
    /* background-color: lightcoral; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 img {
    width: 500px;
    height: 500px;
}

.container5 {
    /* background-color: lightgreen; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-about {
    background-color: wheat;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-about h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 20px;
}

.wrapper-about p {
    text-align: center;
    margin-top: 5px;
}

.wrapper-about ul {
    margin-left: 50px;
    margin-top: -30px;
}

.wrapper-about li {
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


/* mobile */
@media screen and (max-width:576px){

/* section nav */
nav {
    top: 0;
    left: 0;
    position: fixed;
    background-color: lightcoral;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-merk {
    width: 150px;
    /* background-color: lightgreen; */
    display: flex;
    height: 50px;
    align-items: center;
    margin-left: 0px;
}

.nav-merk img {
    width: 40px;
    height: 40px;
}

.nav-merk h2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#taggle-menu{
    display: none;
}
.taggle{

    width: 50px;
    height: 50px;
    display: initial;
}
.taggle img{
    height: 50px;
    width: 50px;
}

.nav-menu {
    /* background-color: lightseagreen; */
    width: 400px;
    height: 170px;
    display: flex;
    margin-right: 0px;
    margin-top: -10px;
}

.nav-menu ul {
    display: none;
    background-color: lightcoral;
    list-style-type: none;
    flex-direction: column;
    padding-left: 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    transition: color 0.5s;
}

.nav-menu ul li a:hover {
    color: red
}


    /* section hero */
#hero {
    padding-top: 0px;
    /* background-color: lightgreen; */
    flex-direction: column;
}

.container1 {
    /* background-color: lightblue; */
    display: flex;
    justify-content: start;
}

.content1 {
    /* background-color: lightgreen; */
    margin-left: 10px;
    width: 100%;
    height: 250px;
}

h1 {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 10px;
    margin-bottom: 30px;
}

button {
    width: 150px;
    height: 30px;
}

button a {
    font-size: 5px;
}
.container2{
    margin-top: -50px;
    /* background-color: lightblue; */
}

.container2 img {
    width: 300px;
    height: 300px;
}


/* section features */
#features {
    /* background-color: lightblue; */
    margin-left: -10px;
    padding-top: 0px;
    width: 100vw;
    height: 100vh;
}

.content2 {
    height: 130px;
}

.content2 h2 {
    font-size: 30px;
    margin-bottom: 0px;
    /* margin-top: 20px; */
}

.wrapper-card {
    flex-wrap: wrap;
    /* align-content: flex-start; */
}

.card {
    /* background-color: lightgreen; */
    width: 180px;
    height: 280px;
}

.card .icon {
    width: 40px;
    height: 40px;
    margin-top: 40px;
}

.card img {
    width: 20px;
    height: 20px;
}

.card h3 {
    font-size: 20px;
}


/* section about */
#about {
    padding-top: 0px;
    margin-right: -10px;
    flex-direction: column;
}

.container4 img {
    width: 300px;
    height: 300px;
}

.wrapper-about {
    width: 500px;
    height: 400px;
}

.wrapper-about h2 {
    font-size: 30px;
    margin-top: -10px;
    margin-left: -80px;
}

.wrapper-about p {
    margin-left: -60px;
    margin-top: 20px;
}

.wrapper-about ul {
    margin-left: 0px;
    margin-top: 0px;
}

.wrapper-about li {
    margin-bottom: 10px;
    font-size: 5px;
}

}